@use '../abstracts' as abs;

header
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 6.25rem;
}

#left-section
{
    display: flex;
    flex-direction: row;
    img
    {
        height: 48px;
    }
   
    .nav-links
    {
        li
        {
            display: inline-block;
        }
    }
}

#right-section
{

}

#rewards-bar
{
    background-color: abs.$forest-green;
    p
    {
        font-weight: 700;
        color: white;
    }
}

